@import "../01_fundaments/vars";
@import "../03_molecules/content2";

.featuresContent2{
    margin-bottom: 0;
}

@media (min-width: 1024px){ 
    
    .featuresContent2{
        display: flex;
        align-items: center;

        width: 70vw;

        &__img{
            width: 40rem;
        }
    }
}