@import "../01_fundaments/vars";
@import "../02_atoms/buttons";
@import "../02_atoms/links";

.cta{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

    &__a{
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 1100px){
    .cta{
        flex-direction: row;

        &__a{
            margin-right: 1rem;
            height: 1rem;
        }
    }
}