@import "../01_fundaments/vars";

.heroImg{
    margin-top: 5vh;
    overflow: hidden;
    & img{
        width: 140vw;
        margin-left: -20vw;
    }
    &:after {
        content: '';
        height: 30vh;
        width: 100%;
        position: absolute;
        transform: translatey(-85%);
        left: 0;
        background: linear-gradient(to top, rgb(12, 12, 12), transparent);
    }    
}

@media (min-width: 1100px){
    .heroImg{
        margin-left: 0vw;
        & img{
            width: 100%;
            margin-left: 0vw;
        }

        &:after {
            height: 50vh;
            transform: translatey(120%);
            background: linear-gradient(to top, rgb(0, 0, 0),  rgb(0, 0, 0, 0.8), transparent);
        }
    }
}