@import "../01_fundaments/vars";
@import "../02_atoms/img";

.heroImg{
    margin-top: 5vh;
        
    &:after {
        content: '';
        height: 30%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -15vh;
        background: linear-gradient(to top, rgba(7, 7, 7, 1), transparent);
    }
}