@import "../04_organisms/featuresContent";
@import "../04_organisms/featuresContent2";

.featuresSection{
    padding: 4rem 0 5rem 0;
}

@media (min-width: 1100px){
        .featuresSection{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap;  
    }
}