@import "../03_molecules/content1";

@import "../04_organisms/contentsContent";

.contentsSection{
    padding: 5rem 0 4rem 0;
}



@media (min-width: 1100px){
    .contentsWrapper{
        display: flex;
        width: 60%;
        margin: 0 auto;
        justify-content: center;
    }
}
